.popup__input{
    border: none;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 36px;
    margin-right: 36px;
}

.popup__input:nth-of-type(1){
    margin-top: 54px;
}

.popup__input:nth-of-type(2){
    margin-top: 30px;
}

.popup__input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
}

@media screen and (max-width: 767px){
    .popup__input{
        margin-left: auto;
        margin-right: auto;
    }

    .popup__input:nth-of-type(1){
        margin-top: 75px;
    }
}