.popup__save{
    background-color: #000000;
    margin: 48px 36px 37px 36px;
    min-height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    transition: opacity 0.35 ease;
    border: none;
}

.popup__save:hover{
    opacity: 0.8;
    cursor: pointer;
}