.header__button{
    background: none;
    padding: 0px;
    border: none;
    height: 22px;
    text-decoration: none;
    margin-top: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}

.header__button:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px){
    .header__button{
        display: none;
    }
}